@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(90deg, #f81606, #910707);
}

.App input{
  margin-top: 28px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
p{
  margin: 10px;
  font-size: 18px;
}
body {
  padding: 0;
  margin: 0;
}
